
h1{
    color:red;
}
/*
img {
     background-color: red;
    }
*/

.bacon{
    background-color: forestgreen;
}
.broccoli{
    background-color: red;
}

img {
    border-radius: 100%;
}

img:hover {
        background-color: gold;
}

